@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/global.scss" as *;
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.mood{
    @include tablet{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
   
    &__content{
        color: white;
       
    }

    &__container{
        display: inline-block;
        padding: 1rem;
        @include tablet{
            padding: 2rem;
            margin-left: 10rem;
        }
    }
    &__typed {
        overflow: hidden;
        // white-space: nowrap;
        // width: 0;
        // animation: typing;
        // animation-duration: 5s;
        // animation-timing-function: steps(100, end);
        // animation-fill-mode: forwards;
        color: white;
        font-weight: 700;
      }

      &__type{
        display: flex;
        justify-content: center;
      }
}