@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/global.scss" as *;

.header {
  &__title {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 10vw;
    height: 10vh;
  }
  &--mobile {
    animation: sectionAnimation 1s ease-in-out forwards;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include tablet {
      display: none;
    }
    .icon {
      color: white;
    }
  }
  &--desktop {
    display: none;
    @include tablet {
      animation: sectionAnimation 1s ease-in-out forwards;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      .header {
        &__list {
          margin-top: 3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 5rem;
        }
        &__item {
          color: white;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 3rem;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
            color: $Higlight;
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
.nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
